{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} </title>

    <!-- Link to CSS file -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    {% block links %}{% endblock links %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    {% block content %}{% endblock content %}



    <!-- 🔥 TOAST NOTIFICATION BLOCK -->
    <div class="toast-container">

        {% if messages %}
            {% for message in messages %}
                <div class="toast align-items-center text-white 
                    {% if message.tags == 'error' %} bg-danger 
                    {% elif message.tags == 'success' %} bg-success 
                    {% elif message.tags == 'warning' %} bg-warning text-dark
                    {% else %} bg-primary 
                    {% endif %}
                    border-0 mb-2" 
                    role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">

                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <!-- END TOAST -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "js/base.js" %}"></script>

</body>
</html>