{% extends "base.html" %}
{% load static %}
{% block title %} Portal | Home {% endblock title %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock links %}

{% block content %}
    <div class="reg">
        <h1>Welcome to the Registration Portal</h1>
        <p class="option">Please select your option</p>

        <div class="button-group reg_buttons">
            <a href="{% url 'app:register_new' %}" class="btn new_reg">New Registration</a>
            <a href="{% url 'app:login' %}" class="btn preg_reg">Previous Year Participant</a>

        </div>
    </div>
{% endblock content %}