{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block links %}
    <link rel="stylesheet" href="css/login.css">
{% endblock links %}

{% block content %}
<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card shadow-lg border-0 overflow-hidden">
            <div class="row g-0">

                <!-- Left: Login Form -->
                <div class="col-lg-5 p-5">
                    <h3 class="text-center mb-4 fw-bold">Login</h3>

                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3 position-relative">
                            {{ form.username }}
                        </div>
                        <div class="mb-3 position-relative">
                            {{ form.password }}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                    <div class="regiser mt-4 text-center">
                        Already have an account? <a href="{% url "app:register_new" %}">Register</a>
                    </div>
                </div>

                <!-- Right: Image -->
                <div class="col-lg-7 d-none d-lg-block">
                    <img src="{% static 'img/login.jpg' %}" alt="Login" class="img-fluid h-100 w-100 object-fit-cover" />
                </div>

            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}