{% extends "base.html" %}
{% load static %}

{% block title %}Portal | Profile{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock links %}

{% block content %}

<div class="container my-5">
    <h2 class="mb-4">Welcome to your Profile</h2>

    <a href="{% url 'app:logout' %}" class="btn btn-danger mb-4">Logout</a>
    <br>{{ user.username }}
    <div class="profile-details">
        <p>Full Name: {{ profile_info.full_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ profile_info.phone }}</p>
        <p>Date of Birth: {{ profile_info.dob }}</p>
        <p>School Name: {{ profile_info.school_name }}</p>
        <p>Class: {{ profile_info.student_class }}</p>
        <p>Category: {{ profile_info.category_name }}</p>
        <p>Division: {{ profile_info.division }}</p>
        <p>District: {{ profile_info.district }}</p>
        <p>Upazila: {{ profile_info.upazila }}</p>
        <p>Gender: {{ profile_info.gender }}</p>
    </div>


{% if show_update %}
<div class="modal fade show" id="updateModal"
     tabindex="-1"
     style="display:block; background:rgba(0,0,0,0.5);"
     aria-modal="true">

    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content shadow rounded-3">

            <div class="modal-header">
                <h5 class="modal-title fw-bold">Update Information for {{ year }}</h5>
                <a href="{% url 'app:profile' %}" class="btn-close"></a>
            </div>

            <div class="modal-body">
                
                <div class="progress mb-3" style="height: 10px;">
                    <div id="registrationProgress" class="progress-bar bg-primary col-12" style="width: 50%;"></div>
                </div>

                <form id="registrationForm" method="POST">
                    {% csrf_token %}

                    <!-- STEP 1 -->
                    <div id="step-1">
                        <h5 class="mb-4 text-primary">Step 1 of 2: Personal Information</h5>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Full Name *</label>
                                {{ form.full_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Email *</label>
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Mobile *</label>
                                {{ form.phone }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Date of Birth *</label>
                                {{ form.dob }}
                            </div>
                        </div>

                        

                        

                        <div class="d-flex justify-content-end mt-4">
                            <button type="button" class="btn btn-primary" id="nextStep">
                                Next Step →
                            </button>
                        </div>
                    </div>

                    <!-- STEP 2 -->
                    <div id="step-2" style="display:none;">
                        <h5 class="mb-4 text-primary">Step 2 of 2: Educational Information</h5>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Institute Name *</label>
                                {{ form.school_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Class *</label>
                                {{ form.student_class }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col 12 col-lg-12 mb-3">
                                <label class="form-label">Division *</label>
                                {{ form.division }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">District *</label>
                                {{ form.district }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Upazila *</label>
                                {{ form.upazila }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <button type="button" class="btn btn-outline-secondary" id="prevStep">← Previous</button>
                            <button type="submit" class="btn btn-success">Update Now</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<script src="{% static 'js/address.js' %}"></script>
<script src="{% static 'js/prev_user.js' %}"></script>
{% endif %}


{% endblock %}
