{% extends "base.html" %}
{% load static %}

{% block title %}Portal | Profile{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock links %}

{% block content %}

<h2 class="mb-3">
    <span class="welcome">Welcome Back..!</span>  
</h2>

<div class="py-3">
    <div class="glass-card p-3 p-md-4 shadow-sm">
        <div class="row g-3 align-items-center">
            <div class="col-auto text-center">
                <img src="{% static 'img/profile.jpg' %}" alt="avatar" class="rounded-circle avatar">
            </div>

            <div class="col">
                <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-between">
                    <div>
                        <h3 class="mb-1 t-fullname fw-bold text-light" style="text-transform: uppercase;">{{ profile_info.full_name }}</h3>
                        <div class="text-light ptitle-info">
                            {{ user.username }}
                            {% if profile_info.school_name %}<span class="mx-2">|</span>{{ profile_info.school_name }}{% endif %}
                        </div>
                    </div>

                    <div class="mt-3 mt-sm-0">
                        {% if not registered_for_year %}
                            <a href="{% url 'app:profile' %}?register=1" class="btn btn-info btn-sm">
                                <i class="fa-solid fa-user-plus"></i> <span class="ex-reg"> Register for {{ year }}</span>
                            </a>
                        {% else %}
                            <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal">
                                <i class="fa-solid fa-pen-to-square"></i> Edit Profile
                            </button>
                        {% endif %}
                    </div>
                </div>

                <hr class="my-3">

                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Full Name: {{ profile_info.full_name}}</div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Email: {{  user.email }}</div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Mobile: {{ profile_info.phone }}</div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Date of Birth: {{ profile_info.dob }}</div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Class: {{ profile_info.student_class }}</div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Category: {{ profile_info.category_name }}</div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Division: {{ profile_info.division }}</div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="profile-label">District: {{ profile_info.district }}</div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Upazila: {{ profile_info.upazila }}</div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="profile-label">Gender: {{ profile_info.gender }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% if show_modal %}
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content shadow rounded-3">

            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="updateModalLabel">{% if not registered_for_year %}Register for {{ year }}{% else %}Update Information for {{ year }}{% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                
                <div class="progress mb-3" style="height: 10px;">
                    <div id="registrationProgress" class="progress-bar bg-primary col-12" style="width: 50%;"></div>
                </div>

                <form id="registrationForm" method="POST">
                    {% csrf_token %}

                    <!-- STEP 1 -->
                    <div id="step-1">
                        <h5 class="mb-4 text-primary">Step 1 of 2: Personal Information</h5>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Full Name *</label>
                                {{ form.full_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Email *</label>
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Mobile *</label>
                                {{ form.phone }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Date of Birth *</label>
                                {{ form.dob }}
                            </div>
                        </div>

                        

                        

                        <div class="d-flex justify-content-end mt-4">
                            <button type="button" class="btn btn-primary" id="nextStep">
                                Next Step →
                            </button>
                        </div>
                    </div>

                    <!-- STEP 2 -->
                    <div id="step-2" style="display:none;">
                        <h5 class="mb-4 text-primary">Step 2 of 2: Educational Information</h5>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Institute Name *</label>
                                {{ form.school_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Class *</label>
                                {{ form.student_class }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col 12 col-lg-12 mb-3">
                                <label class="form-label">Division *</label>
                                {{ form.division }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">District *</label>
                                {{ form.district }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Upazila *</label>
                                {{ form.upazila }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <button type="button" class="btn btn-outline-secondary" id="prevStep">← Previous</button>
                            <button type="submit" class="btn btn-success">Update Now</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<script src="{% static 'js/address.js' %}"></script>
<script src="{% static 'js/prev_user.js' %}"></script>
{% endif %}


{% endblock %}
