{% extends "base.html" %}
{% load static %}
{% block title %}Admin - Search Users{% endblock %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock links %}

{% block content %}
<div class="py-0">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="text-white fw-semibold fs-2">Search User</h4>
    <div class="text-white fs-6">Hello, <strong style="color: #00ffee;text-transform:uppercase;">{{ request.user.username }}</strong></div>
  </div>

  <!-- Glass Search Box -->
  <div class="glass-box mb-4 position-relative">
    <form method="get">
      
      <!-- Search Input with icon -->
      <div class="position-relative">
        <input type="search" name="q"
              class="form-control glass-input text-white ps-3 pe-5"
              placeholder="Search username, email or phone..."
              value="{{ q }}">

        <!-- Icon inside field -->
        <button class="search-icon-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

    </form>
  </div>


  <!-- Search Results -->
  {% if results %}
    {% for s in results %}
      <div class="glass-item d-flex justify-content-between align-items-center">
        <div>
          <div class="fw-semibold text-white fs-6">{{ s.user.username }} — {{ s.full_name }}</div>
          <div class="mt-1"> <i class="small fa-solid fa-envelope"></i> &ensp; {{ s.user.email }} &emsp;| &emsp; <i class="small fa-solid fa-phone"></i>  &ensp;{{ s.phone }} &emsp;| &emsp; <i class="small fa-solid fa-graduation-cap"></i> &ensp; {{s.school_name}}</div>
        </div>

        <div class="d-flex gap-3">

          <!-- Soft icon (edit) -->
          <a href="{% url 'app:admin_profile' s.user.username %}" 
             class="no-btn">
            <i class="fa-solid fa-eye icon-btn1"></i>
          </a>

          <!-- Soft icon (password change) -->
          <a href="{% url 'app:admin_profile' s.user.username %}?change_password=1" 
             class="no-btn">
            <i class="fa-solid fa-key icon-btn2"></i>
          </a>

        </div>
      </div>
    {% endfor %}
  {% elif q %}
    <div class="glass-item text-white">No results for "{{ q }}"</div>
  {% endif %}

</div>

{% endblock %}
