:root {
    --primary-color: #000839;
    --title-color: #ff9800;
    --text-color: #ffffff;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

/* Toast Position */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
}