:root {
    --blue: #4d9bff;
    --blue-hover: rgba(77, 155, 255, 0.25);
    --blue-active: rgba(77, 155, 255, 0.35);
    --sidebar-width: 70px;
    --sidebar-expanded: 220px;
}

body {
    background: #0b0e1a;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
}

#layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* GLASS SIDEBAR */
#sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    transition: width 0.25s ease;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#sidebar.expanded {
    width: var(--sidebar-expanded);
}

/* TOP AREA */
.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.logo i {
    font-size: 22px;
}

/* Toggle Button */
.toggle-btn {
    z-index: 1100;
    background: none;
    border: none;
    color: white;
    padding: 4px;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.toggle-btn i {
    margin: 50vh 0;
    padding: 5px 9px;
    background-color: white;
    color: black;
    position: absolute;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 600;
    transition: transform 0.25s ease;
}

#sidebar.expanded .toggle-btn i {
    transform: rotate(180deg);
}

/* MENU */
.menu {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-item {
    margin: 0 0 0 10px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 14px;
    padding: 12px 15px;
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.22s ease;
}

/* Icons centered when collapsed */
#sidebar:not(.expanded) .menu-item span {
    display: none;
}

/* ACTIVE & HOVER */
.menu-item:hover, .menu-item.active {
    background: rgba(255, 255, 255, 0.125);
    color: white;
}


/* MAIN CONTENT */
#content {
    flex-grow: 1;
    margin-left: var(--sidebar-width);
    padding: 30px;
    width: calc(100% - var(--sidebar-width));
    transition: margin 0.25s ease, width 0.25s ease;
}

#sidebar.expanded ~ #content {
    margin-left: var(--sidebar-expanded);
    width: calc(100% - var(--sidebar-expanded));
}
