body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reg {
    text-align: center;
    background: white !important;
    color: black !important;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.new_reg {
    background-color: #1b6ba8 !important;
}
.preg_reg {
    background-color: #17a2b8 !important;
}

.option{
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}
.btn {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white !important;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
    color: #ffffff !important;
}
